@import '../../style/variables.less';

.oContent {
  @media print {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    padding: 0 !important;
  }

  background-color: #f5f7f9;
  position: fixed;
  right: 0;
  bottom: 0;
  top: @topbar_height;
  left: @sidebar_width_collapsed;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.oContentWithPadding {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.oContentNoSideBar {
  left: 0;
}
