@import '../../style/variables.less';

@sidebarPadding: 1.4rem;

.sidebar {
  background-color: #1c1c1c;
  color: white;
  position: relative;

  @media print {
    display: none;
  }
}

.inner {
  padding: @sidebarPadding;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.title,
.subtitle,
.label {
  transition: opacity 0.2s, max-height 0.2s, margin 0.2s;
  max-height: 50px;

  .collapsed & {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.title {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  font-size: 16px;
}

.subtitle {
  margin-bottom: 0.75rem;
  white-space: nowrap;
  font-size: 12px;
  letter-spacing: 0.1em;
  opacity: 0.6;
}

.list {
  margin-left: -@sidebarPadding;
  margin-right: -@sidebarPadding;
  margin-bottom: 2rem;
  margin-top: 0;
}

.item {
  font-size: 16px;
  color: @col_orange;
  font-weight: normal;
  display: flex;
  padding: 0.4rem @sidebarPadding;
  align-items: center;

  &:focus {
    outline: none; // Remove dotted outline on FF
  }

  &::-moz-focus-inner {
    border: 0; // Remove dotted outline on FF
  }

  &:hover,
  &:focus {
    color: lighten(@col_orange, 15%);
  }

  &:active {
    color: lighten(@col_orange, 30%);
  }

  &.active {
    color: white;
    background: black;
  }

  &.experimental {
    background: #40130b;
  }
}

.icon {
  margin-right: 10px;
  line-height: 0;
  flex-shrink: 0;
  transition: opacity 0.4s;
  opacity: 0.4;
  display: block;

  .item:hover &,
  .item:focus & {
    opacity: 0.6;
  }

  .item:active & {
    opacity: 0.8;
  }

  .item.active & {
    opacity: 1;
  }

  > * {
    opacity: 1;
  }

  > span {
    // Fix for Tooltip
    display: block;
  }
}

.label {
  white-space: nowrap;
  overflow: hidden;
}
