.toggleBox {
  background-color: whitesmoke;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 2;
}

.fullWidthStyleFix {
  max-width: 100%;
  left: 0 !important;
  margin: 0 35px;
}
