@import '../../../style/variables.less';

.page {
  background-color: #f5f7f9;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media print {
    background-color: white;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }

  &.scroll {
    overflow: auto;
  }
}
