@import '../../style/variables.less';

.loader {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;

  &.fullViewPortSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  line-height: 1;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  transition: background-color 0.5s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  will-change: opacity;
  z-index: @zindex_dimmer;
  display: flex;
  opacity: 1;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 12px;
  opacity: 0.6;
}

.details {
  margin-top: 8px;
}
