.progress {
  position: relative;
  display: block;
  max-width: 100%;
  border: none;
  margin: 0;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 0.28571429rem;
  font-size: 1rem;

  &.inverted {
    background: rgba(255, 255, 255, 0.08);
  }
}

.bar {
  display: block;
  line-height: 1;
  position: relative;
  width: 0%;
  min-width: 2em;
  background: #888;
  border-radius: 0.28571429rem;
  transition: width 0.1s ease, background-color 0.5s ease;
  height: 1.75em;

  &.grey {
    background-color: #767676;
  }
  &.red {
    background-color: #db2828;
  }
  &.colored,
  &.orange {
    background-color: #f2711c;
  }
  &.yellow {
    background-color: #fbbd08;
  }
  &.olive {
    background-color: #b5cc18;
  }
  &.green {
    background-color: #21ba45;
  }
}

.label {
  white-space: nowrap;
  position: absolute;
  width: auto;
  font-size: 0.92857143em;
  top: 50%;
  right: 0.5em;
  left: auto;
  bottom: auto;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  margin-top: -0.5em;
  font-weight: 700;
  text-align: left;
}
