@import '../../style/variables.less';

.input {
  margin: 0;
  outline: 0;
  text-align: left;
  font-family: @default_font;
  padding: @input_padding_y @input_padding_x;
  background: #fff;
  border: 1px solid @input_border_color;
  color: @col_text;
  border-radius: @input_border_radius;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: none;
  height: @input_height;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  position: relative;

  &::placeholder {
    color: #c0c0c0;
  }

  &.isInTable {
    border-color: transparent !important;
    background-color: transparent !important;
    border-radius: 0 !important;
  }

  &:hover,
  &:focus {
    z-index: 1;
  }

  &:hover {
    border-color: rgba(34, 36, 38, 0.35);
  }

  &:focus {
    border: 1px solid #85b7d9 !important;

    &::placeholder {
      color: #868686;
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.45;
  }

  &.small {
    font-size: @input_font_size_small;
    height: @input_height_small;
    padding: @input_padding_small_y @input_padding_small_x;
    line-height: 1.2;
  }

  &.error,
  &.warning {
    position: relative;
    z-index: 1;
  }

  &.error {
    background-color: @input_background_error !important;
    border-color: @input_border_color_error !important;
    color: @input_color_error !important;
  }

  &.warning {
    background-color: @input_background_warning !important;
    border-color: @input_border_color_warning !important;
    color: @input_color_warning !important;
  }

  &.right {
    text-align: right;
  }
}

.groupOrderFirst,
.groupOrderMiddle,
.groupOrderLast {
  flex: 1;

  .input:hover,
  .input:focus {
    z-index: 2;
  }
}

.groupOrderFirst,
.groupOrderMiddle {
  margin-right: -1px;

  .input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.groupOrderLast,
.groupOrderMiddle {
  .input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
