@import '../../style/variables.less';

.wrapper {
  display: inline-block;
  position: relative;
}

.badge {
  background: @col_orange;
  box-shadow: 0 0 0 1px #fff;
  display: inline-block;
  position: static;

  &.label {
    line-height: 22px;
    min-width: 22px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: 11px;
    font-weight: bold;

    &.dark {
      color: #fff;
    }

    &.light {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }

  &.hasChildren {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    z-index: auto;
  }
}
