@import '../../style/variables.less';

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: @col_btn_default;
  color: rgba(0, 0, 0, 0.6);
  font-family: @default_font;
  padding: @input_padding_y @input_padding_x;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: @input_border_radius;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  max-width: 100%;
  min-height: @input_height;

  &:hover,
  &:focus {
    background-color: darken(@col_btn_default, 5%);
    background-image: none;
    color: rgba(0, 0, 0, 0.8);
  }

  &:active,
  &.active {
    background-color: darken(@col_btn_default, 10%);
    background-image: none;
    color: rgba(0, 0, 0, 0.9);
  }

  .icon {
    margin: 0 8px 0 -4px;
    width: 1.18em;

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.iconOnly {
  padding: 0.78571429em 0.78571429em 0.78571429em;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin: 0;
    line-height: 0;
  }
}

.basic {
  color: @col_orange;
  background: transparent;

  &.muted {
    color: #c8c8c8;
  }

  &:hover,
  &:focus {
    color: darken(@col_orange, 10%);
  }

  &:active,
  &.active {
    color: rgba(0, 0, 0, 0.8);
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    background: transparent;
  }
}

.disabled {
  cursor: default;
  opacity: 0.3 !important;
  box-shadow: none !important;
  pointer-events: none !important;
}

.small {
  font-size: @input_font_size_small;
  min-height: @input_height_small;
  padding: 0 0.75rem;
}

.pill,
.round {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: bold;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
}

.round {
  padding: 0;
  width: @input_height;
}

.orange {
  background-color: @col_btn_primary;

  &:hover,
  &:focus {
    background-color: darken(@col_btn_primary, 5%);
  }

  &:active {
    background-color: darken(@col_btn_primary, 10%);
  }
}

.red {
  background-color: @col_btn_danger;

  &:hover,
  &:focus {
    background-color: darken(@col_btn_danger, 5%);
  }

  &:active {
    background-color: darken(@col_btn_danger, 10%);
  }
}

.green {
  background-color: @col_btn_success;

  &:hover,
  &:focus {
    background-color: darken(@col_btn_success, 5%);
  }

  &:active {
    background-color: darken(@col_btn_success, 10%);
  }
}

.orange,
.red,
.green {
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }
}

.inverted {
  background-color: transparent;

  &:not(.basic) {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4) inset;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }

  &.orange {
    color: @col_btn_primary;
    box-shadow: 0 0 0 2px @col_btn_primary inset;
  }

  &.red {
    color: @col_btn_danger;
    box-shadow: 0 0 0 2px @col_btn_danger inset;
  }

  &.green {
    color: @col_btn_success;
    box-shadow: 0 0 0 2px @col_btn_success inset;
  }

  &.orange,
  &.red,
  &.green {
    &:hover,
    &:focus,
    &:active {
      color: white;
      box-shadow: none;
    }
  }
}

.groupOrderFirst,
.groupOrderMiddle,
.groupOrderLast {
  margin-right: 0;

  &.active {
    cursor: default;
  }

  &.active:not(.basic) {
    background-color: #777;
    color: white;
  }
}

.groupOrderFirst,
.groupOrderMiddle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
