@import '../../style/variables.less';

.layerContainer {
  z-index: @zindex_dropdown;
}

.layer {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 2px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 10em;
  max-width: 30em;
  position: relative;

  &.nested {
    margin: 0 2px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      list-style: none;
      display: block;
    }
  }
}

.fileInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

.trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  max-width: 100%;
}

.middleAlignedInline {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.heading {
  color: @col_muted;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  .headingIcon {
    float: right;
    svg {
      color: @card_border_color;
    }
    &:hover {
      cursor: pointer;
      svg {
        color: @col_orange;
      }
    }
  }
}

.heading,
.option,
.layer .trigger {
  padding: 8px 12px;
}

.option,
.layer .trigger {
  line-height: 20px;
  display: flex;
  align-items: flex-start;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

.option.selected {
  background-color: #f5f7f9;
  font-weight: bold;
}

.layer .trigger {
  align-items: center;
}

.optionContent {
  flex-wrap: wrap;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.inline .optionContent {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.icon,
.check {
  display: flex;
  flex-shrink: 1;
  width: 16px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 8px;
  color: @col_orange;

  &:empty {
    display: none;
  }

  img {
    max-height: 16px;
    max-width: 16px;
    width: auto;
    height: auto;
  }
}

.check {
  font-size: 12px;
  color: #a5a7a9;
  margin-left: 10px;
}

.text {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label {
  margin-right: auto;
}

.label,
.heading {
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  color: #999;
  display: block;
}

.arrow {
  margin-left: 10px;
  opacity: 0.4;
}

.divider {
  border: 0;
  border-top: 1px solid #ddd;
}

.deprecatedSemanticIcon {
  color: @col_orange !important;
  margin: -5px 0 0 !important;
}

.disabled {
  opacity: 0.2;
  background: inherit !important;
  cursor: not-allowed !important;
}

.buttonLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-right: auto;
  line-height: 1.3; // Prevent descenders getting clipped
}

.buttonCaret {
  margin-left: 5px;
}

.component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
