.field {
  margin-bottom: 14px;

  .label {
    display: flex;
    align-items: center;

    > label {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 5px;

      span {
        margin-left: 5px;
        line-height: 0; // Strip whitespace from icon
      }
    }
  }

  &.labelLeft {
    display: flex;
    align-items: center;

    .label {
      margin-bottom: 0;
      flex-shrink: 0;
      padding-right: 10px;

      > label {
        margin-bottom: 0;
      }
    }

    .fieldInput {
      flex-grow: 1;
    }
  }
}

.formRow,
.form-row /* hyphens are awkward (deprecate) */ {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  > *:not(:last-child) {
    margin-right: 20px;
  }

  .button {
    margin-bottom: 14px;
  }
}
