@import '../../style/variables.less';

.textarea {
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  outline: 0;
  text-align: left;
  font-family: @default_font;
  padding: @input_padding_y @input_padding_x;
  background: #fff;
  border: 1px solid @input_border_color;
  color: @col_text;
  border-radius: @input_border_radius;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: none;
  min-height: @input_height;

  &::placeholder {
    color: @input_color_placeholder;
  }

  &:hover {
    border-color: rgba(34, 36, 38, 0.35);
  }

  &:focus {
    border: 1px solid #85b7d9 !important;

    &::placeholder {
      color: #868686;
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.45;
  }

  &.small {
    font-size: @input_font_size_small;
    min-height: @input_height_small;
    padding: @input_padding_small_y @input_padding_small_x;
    line-height: 1.2;
  }

  &.error,
  &.warning {
    position: relative;
    z-index: 1;
  }

  &.error {
    background-color: @input_background_error;
    border-color: @input_border_color_error;
    color: @input_color_error;
  }

  &.warning {
    background-color: @input_background_warning;
    border-color: @input_border_color_warning;
    color: @input_color_warning;
  }
}
