@import '../../style/variables.less';

.header .headerTitle,
.heading .title {
  transition: opacity 0.3s;

  .narrow & {
    opacity: 0;
  }
}

.itemHeader {
  padding: 12px 20px;
  display: flex;
  align-items: flex-start;

  .title {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name {
    font-weight: 400;
  }

  .iconTooltipMargin {
    margin-left: 10px;
  }

  .bold {
    font-weight: 900;
  }
}

.header {
  padding: 16px 20px;
  display: flex;
  align-items: center;
}

.toggleNarrow {
  margin-right: 16px;
  margin-left: -5px;
  color: #c8c8c8;
  transition: all 0.4s;
  display: flex;
  width: 22px;
  justify-content: center;

  &:hover {
    color: @col_orange;
  }

  &:active {
    color: darken(@col_orange, 10%);
  }

  .narrow & {
    transform: scaleX(-1);
  }
}

.drag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: -6px;
  cursor: move;
  opacity: 0.25;
  height: 19px;
  width: 19px;

  &:active {
    opacity: 0.5;
  }
}

.metaCount {
  z-index: 1;
  position: absolute;
  top: -1px;
  right: -1px;
  text-align: center;
  width: 1.25rem;
  line-height: 1.25rem;
  border-color: #767676;
  color: #fff;
  font-size: 0.85714286rem;
  font-weight: bold;

  &:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 0;
    background-color: transparent;
    border-width: 0 2rem 2rem 0;
    border-style: solid;
    border-color: transparent;
    border-right-color: inherit;
  }
}

.list {
  flex-shrink: 0;
  background: #f5f7f9;
  border-radius: inherit;

  &.bordered {
    .item:last-child {
      border-bottom: 0 !important;
      border-radius: 0 0 4px 4px;
    }
  }

  .item {
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    &:hover {
      background-color: lighten(#f5f7f9, 2%);
    }

    &:active,
    &.active {
      background-color: white;
    }

    &.disabled {
      color: @col_muted;
      pointer-events: none;
    }

    &.borderTopNone {
      border-top: none;
    }

    &.backgroundWhite {
      background-color: white;
    }

    &.heading {
      color: @col_muted;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: 12px;
      pointer-events: none;
    }

    .label {
      margin-right: 15px;
      margin-left: -5px;
      margin-top: -2px;
      margin-bottom: -2px;
      flex-shrink: 0;
    }

    .details,
    .metadata {
      display: block;
      width: 100%;
      font-weight: normal;
      margin-top: 3px;
    }

    .metadata {
      color: @col_muted;
    }

    .invalidIcon {
      margin-left: 8px;
    }

    .itemContent {
      padding: 0 20px 12px;
      cursor: auto;
    }
  }
}

.drawer {
  .item {
    background-color: white;
    transition: background 0.3s;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      bottom: -1px;
      width: 5px;
      transition: background 0.3s;
    }

    &:hover {
      background: #f5f7f9;
      &:after {
        background: #d5d7d9;
      }
    }

    &:active {
      background: #eaecee;
    }

    &.active {
      position: relative;
      z-index: 1;
      background: white;

      &:after {
        background: @col_orange;
      }
    }
  }

  .item:last-child {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .heading {
    background-color: transparent;

    &:first-child {
      border-top: 0;

      .itemHeader {
        padding-top: 0;
      }
    }

    &:not(:first-child) {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
