@import '../../../../style/variables.less';

.trigger {
  font-family: sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid @input_border_color;
  border-radius: @input_border_radius;
  padding-right: 11px;
  background-color: white;
  min-height: @input_height;
  position: relative;

  input {
    border: none !important;
    background: transparent !important;
  }

  &.disabled {
    pointer-events: none;
  }

  &.isInTable {
    border-color: transparent;
    background-color: transparent;
    border-radius: 0;

    .input {
      background: transparent !important;
    }

    &.isOpen,
    &:hover,
    &:focus {
      position: relative;
      z-index: 2;
    }
  }

  &:hover {
    border-color: @input_border_color_hover;
    cursor: pointer;
  }

  &.isOpen,
  &:focus {
    border-color: @input_border_color_focus;
    outline: 0;
  }

  &.error {
    background-color: @input_background_error !important;
    border-color: @input_border_color_error !important;
    color: @input_color_error !important;

    .iconOpen {
      color: @input_border_color_error !important;
    }
  }

  &.warning {
    background-color: @input_background_warning !important;
    border-color: @input_border_color_warning !important;
    color: @input_color_warning !important;

    .iconOpen {
      color: #b7a478 !important;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  font-size: 12px;

  .clearAll {
    color: @input_border_color;
    padding: 5px;
    margin-right: 5px;

    &:hover,
    &.focus {
      color: @col_text;
      outline: 0;
    }
  }

  .iconOpen {
    display: block;
    height: 12px;
    width: 12px;
    flex-shrink: 0;
    background: transparent
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: 8px 10px;
  }

  svg {
    display: block;
  }
}

.triggerInputContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
  flex-grow: 1;

  .right & {
    margin-right: 8px;
    justify-content: flex-end;
    text-align: right;

    input {
      padding-right: 0;
      padding-left: 0;
      text-align: right;
      width: 0;

      &:focus {
        width: auto;
      }
    }
  }
}

.multiOptions {
  padding: 3px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;

  &:empty {
    display: none !important;
  }

  .multiOptionWrapper {
    padding: 3px;
    max-width: 100%;

    .small & {
      padding: 0;
    }
  }

  .multiOption {
    user-select: none;
    display: inline-flex;
    align-items: center;
    border: 1px solid #d5d7d9;
    background-color: #f5f7f9;

    padding-left: 7px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    color: #333;
    max-width: 100%;

    .label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
    }

    .closeMultiOption {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 24px;
      color: @input_border_color;

      &:hover,
      &.focus {
        color: #777;
        outline: 0;
      }
    }
  }
}

.disabled {
  opacity: 0.4;
}

.selectedSingleValue,
.placeHolder {
  line-height: @input_height - 2px;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-top: -0.5px; // Fix discrepancy between Webkit & FF

  &.searchable {
    position: absolute;
  }
}

.selectedSingleValue,
.placeHolder,
.input {
  padding-left: @input_padding_x;
}

.placeHolder {
  color: @input_color_placeholder;
}

.input {
  font-family: @default_font;
  background-color: transparent;
  border: none;
  color: mix(@input_color_placeholder, @col_text, 50%);

  &.error {
    color: @input_color_error !important;
  }

  &:focus {
    outline: none;
  }
}

.small {
  min-height: @input_height_small;
  padding-right: @input_padding_small_x;
  font-size: @input_font_size_small;

  .selectedSingleValue,
  .placeHolder,
  .input {
    padding-left: @input_padding_small_x;
    height: @input_height_small - 2px;
    line-height: @input_height_small - 2px;
  }

  .multiOptions {
    padding: 1px;
  }

  .multiOption {
    line-height: @input_height_small - 6px;
    height: @input_height_small - 6px;
    margin: 1px;
  }
}

.groupOrderFirst,
.groupOrderMiddle,
.groupOrderLast {
  .input:hover,
  .input:focus {
    z-index: 2;
  }
}

.groupOrderFirst,
.groupOrderMiddle {
  margin-right: -1px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
