@import '../../style/variables.less';

.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
  margin: 0 0 -1px;
  border-bottom-width: 1px;
  position: relative;
  z-index: 1;
  flex-shrink: 0;

  &.padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.margin {
    margin: 1rem 0;
  }
}

.contentPadding {
  padding-top: 10px;
}

.item {
  align-self: flex-end;
  display: flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  flex: 0 0 auto;
  user-select: none;
  padding: 0.85714286em 0;
  color: rgba(0, 0, 0, 0.87);
  transition: border 0.1s ease, color 0.1s ease;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: @col_orange;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &:hover {
    color: darken(@col_orange, 15%);
  }

  &:active {
    color: darken(@col_orange, 30%);
  }

  &.active {
    border-color: #1b1c1d;
    color: rgba(0, 0, 0, 0.95);
    cursor: default;
  }

  &.hidden {
    display: none !important;
  }

  &.disabled {
    opacity: 0.2 !important;
    pointer-events: none;
  }

  &.left + .item.right {
    margin-left: auto;
  }
}
