@import '../../style/variables.less';

.checkbox {
  margin: 10px 0 11px 0;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: baseline;
  font-style: normal;
  min-height: 17px;
  font-size: inherit;
  line-height: 17px;
  min-width: 17px;
  outline: 0px;

  &.noLabel {
    width: 17px;
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }

  &.small {
    margin: 3px 0;
    font-size: @input_font_size_small;
  }

  input {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    opacity: 0 !important;
    outline: 0px;
    z-index: -1;
  }

  label {
    cursor: pointer;
    user-select: none;
    color: @col_text;
    transition: color 0.1s ease 0s;
    position: relative;
    display: block;
    padding-left: 1.85714em;
    font-size: 1em;
    outline: 0px;

    .checkmark {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 17px;
      height: 17px;
      padding: 2px;
      background: white;
      border-radius: 0.214286rem;
      transition: border 0.1s ease 0s, opacity 0.1s ease 0s,
        transform 0.1s ease 0s, box-shadow 0.1s ease 0s;
      border: 1px solid rgb(212, 212, 213);
      color: transparent;

      &:hover {
        border-color: rgba(34, 36, 38, 0.35);
      }
    }
  }

  input:checked ~ label .checkmark {
    background: @col_orange;
    border-color: transparent;
    color: white;
  }
}

.noMargin {
  margin: 0;
}

.isInTable {
  margin: 0;
  position: relative;
  top: 1px;
}
