@import '../../../style/variables.less';

.select {
  appearance: none !important;
  display: inline-block;
  width: 100%;
  padding: 0.67857143em 12px;
  padding-right: 30px;
  line-height: 1.21428571em;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 12px center !important;
  background-size: 8px 10px !important;
  border: 1px solid #ddddde;
  border-radius: 0.28571429rem;
  height: 38px;
  font-family: sans-serif !important;

  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 #000 !important;
  }

  &:hover {
    border-color: rgba(34, 36, 38, 0.35);
  }

  &:focus {
    border: 1px solid #85b7d9 !important;
    outline: none !important;
  }

  &.unSelected {
    color: @input_color_placeholder !important;

    option {
      background-color: white !important;
      color: black !important;
    }

    &:-moz-focusring {
      color: transparent !important;
      text-shadow: 0 0 0 #000 !important;
    }
  }

  &.error {
    border-color: #e0b4b4 !important;
    color: #9f3a38 !important;
    background-color: #fff6f6 !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%239f3a38' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !important;

    option {
      background-color: white !important;
      color: black !important;
    }

    &:-moz-focusring {
      color: transparent !important;
      text-shadow: 0 0 0 #000 !important;
    }
  }

  &.warning {
    border-color: #b7a478 !important;
    color: #7e5800 !important;
    background-color: #fffbee !important;
  }

  &.small {
    font-size: @input_font_size_small;
    height: @input_height_small;
    padding: @input_padding_small_y @input_padding_small_x;
    background-position: right 8px center !important;
    padding-right: 28px;
  }

  &.right {
    text-align: right;
    text-align-last: right;
  }

  &[disabled] {
    opacity: 0.45 !important;
    pointer-events: none !important;
  }
}
