@import '../../style/variables.less';

// source: https://loading.io/css/
.spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  &.small {
    width: 14px;
    height: 14px;
  }

  &.tiny {
    width: 10px;
    height: 10px;
  }

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }

  &.small {
    div {
      width: 14px;
      height: 14px;
      border: 3px solid #fff;
      border-color: #fff transparent transparent transparent;
    }
  }

  &.tiny {
    div {
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      border-color: #fff transparent transparent transparent;
    }
  }

  &.colored {
    div {
      border: 6px solid @col_orange;
      border-color: @col_orange transparent transparent transparent;
    }
  }

  &.small.colored {
    div {
      border: 3px solid @col_orange;
      border-color: @col_orange transparent transparent transparent;
    }
  }

  &.tiny.colored {
    div {
      border: 2px solid @col_orange;
      border-color: @col_orange transparent transparent transparent;
    }
  }

  &.dark {
    div {
      border: 6px solid #5a5a5a;
      border-color: #5a5a5a transparent transparent transparent;
    }
  }

  &.small.dark {
    div {
      border: 3px solid #5a5a5a;
      border-color: #5a5a5a transparent transparent transparent;
    }
  }

  &.tiny.dark {
    div {
      border: 2px solid #5a5a5a;
      border-color: #5a5a5a transparent transparent transparent;
    }
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
