@import '../../style/variables.less';

.breadcrumb {
  font-size: 1.5rem;

  &.small {
    font-size: inherit;
  }

  .labelContainer {
    color: @olia_link;
    cursor: pointer;

    &:hover {
      color: darken(@col_orange, 10%);
    }

    &:active {
      color: darken(@col_orange, 20%);
    }

    &.active {
      color: inherit;
      cursor: default;
      pointer-events: none;
    }

    &.disabled {
      color: #acabab;
      cursor: default;
      pointer-events: none;
    }
  }

  .separator {
    margin: 0 10px;
    color: #ddd;
  }
}
