@import '../../style/variables.less';

.wrapper {
  &.inline {
    display: flex;
    align-items: center;

    .radio:not(:last-child) {
      margin-right: 16px;
    }
  }

  .labelMargin {
    margin-right: 10px;
  }
}

.radio {
  margin: 10px 0 11px 0;
  position: relative;
  display: block;
  backface-visibility: hidden;
  vertical-align: baseline;
  font-style: normal;
  min-height: 17px;
  font-size: 1rem;
  line-height: 17px;
  min-width: 17px;
  outline: 0px;

  &.small {
    margin: 3px 0;
    font-size: @input_font_size_small;
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }

  &.noMargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
    outline: 0;
    width: 17px;
    height: 17px;
    z-index: -1;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 1.85714em;
    outline: 0;
    font-size: 1em;
    color: @col_text;
    transition: color 0.1s ease;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 15px;
      height: 15px;
      line-height: 15px;
      border-radius: 500rem;
      transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
        box-shadow 0.1s ease;
    }

    &:before {
      background: #fff;
      border: 1px solid #d4d4d5;
      transform: none;
    }

    &:hover:before {
      border-color: rgba(34, 36, 38, 0.35);
    }

    &:after {
      border: none;
      transform: scale(0.46666667);
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      opacity: 0;
    }
  }

  input:checked ~ label {
    &:before {
      background-color: @col_orange;
      border-color: transparent;
    }

    &:after {
      opacity: 1;
    }
  }
}

.isInTable {
  margin: 0;
  position: relative;
  top: 1px;
}
