@import '../../../style/variables.less';

.layerContainer {
  z-index: @zindex_dropdown;
}

.layer {
  font-family: sans-serif !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 2px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      list-style: none;
      display: block;
    }
  }
}

.heading {
  color: @col_muted;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  padding: @input_padding_y @input_padding_x;
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message {
  color: #bbb;
  padding: @input_padding_y @input_padding_x;
}

.option {
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  padding: @input_padding_y @input_padding_x;

  &.focused,
  &:hover {
    background-color: darken(#f5f7f9, 2%);
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.2;
    cursor: inherit;
  }

  &.selected {
    background-color: #f5f7f9 !important;
    font-weight: bold;

    &:hover {
      cursor: text;
    }

    .check {
      font-size: 12px;
      color: #a5a7a9;
      margin-left: 10px;

      svg {
        display: block;
      }
    }
  }

  .optionContent {
    flex-wrap: wrap;
    margin-right: auto;
    overflow: hidden;

    .label {
      max-width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      margin-left: 7px;
      line-height: 0; // Strips empty whitespace
    }
  }
}

.disabled {
  opacity: 0.2;
}
