@import '../../style/variables.less';

.card.bordered {
  background: white;
  border: 1px solid @card_border_color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: @card_border_radius;

  &.raised {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.1);
  }

  .cardHeader {
    background-color: @bghot_ro;
    padding: @card_padding_y @card_padding_x;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .cardContentBorderTop {
    border-top: 1px solid @card_border_color;
  }

  .padding {
    padding: @card_padding_y @card_padding_x;
  }
}

.cardContent {
  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  padding: @card_padding_y 0;
}
