@import '../../style/variables.less';

.wrapper {
  color: inherit;
  fill: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .customSvg {
    line-height: 0; // Strips unneccessary whitespace
  }

  .customPng {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
    color: @col_orange;
    fill: @col_orange;
  }
}
