@import '../../style/variables.less';

.heading {
  font-weight: 600;
  display: flex;
  align-items: center;
  user-select: none;

  &.top {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  &:not(.top) {
    font-size: 13px;
    line-height: 20px;
    color: @col_muted;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.icon {
  margin-left: auto;
  color: #c8c8c8;
  cursor: pointer;
  line-height: 0;
  font-size: 13px;

  &.help {
    margin-left: 10px;
    margin-top: -1px;
    display: flex;
    align-items: center;
    color: #c8c8c8;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    color: @col_orange;
  }

  &:active,
  &.active {
    color: darken(@col_orange, 10%);
  }
}
