@import '../../style/variables.less';

.wrapper {
  z-index: @zindex_modal;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

.contentContainer {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  button:not(:last-child) {
    margin-right: 12px;
  }
}

.centered {
  justify-content: center;
}
