@import '../../../style/variables.less';

.bordered {
  border: 1px solid @card_border_color;
  border-radius: 0 0 @card_border_radius @card_border_radius;
  border-top: none;
  background-color: white;
}

.checkboxWrapper {
  padding: (@card_padding_y - 8px) @card_padding_x;

  &:last-child {
    border-radius: 0 0 inherit inherit;
  }
}

.padding {
  padding: @card_padding_y @card_padding_x;
}

.contentWrapper {
  border-radius: inherit;
}
