@import '../../style/variables.less';

.drawer {
  transition: width 0.2s;
}

.inline {
  position: relative;

  &.left {
    order: -1;
  }

  &.right {
    order: 9999;
  }
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: @zindex_drawer;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .toggleButton {
    z-index: @zindex_drawer + 1;
  }
}

.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.drawerContent {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  min-height: 100%;

  @media print {
    background: transparent !important;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for IE 10+ */
  -ms-overflow-style: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.toggleButton {
  transition: transform 0.4s;
  display: inline-block;
  transform: rotate(180deg);
  position: absolute;
  z-index: 1;

  .left & {
    right: -19px;
  }

  .right & {
    left: -19px;
  }

  &.top {
    top: 20px;
  }

  &.bottom {
    bottom: 20px;
  }

  &.toggleButtonOpen {
    transform: rotate(0deg);
  }
}
