@import './variables.less';

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/lato/Lato-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: italic;
  src: url('./fonts/lato/Lato-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  font-style: italic;
  src: url('./fonts/lato/Lato-BoldItalic.woff2') format('woff2');
}

body {
  font-family: @default_font;
}
