@bghot_ro: #f7f7f7;
@bghot_changed: #ffff90;
@olia_link: #ff6600;

@base_margin: 1em;

@default_font: 'Lato', sans-serif;

@col_theme_bg: #ffffff;
@col_theme_logo: #ff6600; // orange
@col_theme_dark: #324553; // dark
@col_theme_dark_light: lighten(#324553, 15%); //
@col_theme_3: #29aecf; // lightblue

//@col_unit: #909090;
@col_unit: darken(@col_theme_bg, 35%);
//@col_info: #70a070;
@col_info: @col_theme_3;

@col_axis: #f0f0f0;
@col_zero: #c0c0c0;
@col_hole: #707070;
@col_casingwall: @col_hole;
@col_cement: #909090;
@col_shoe: @col_hole;
@col_string: #404040;
@col_casinghl: #009;

@col_axis: #f0f0f0;
@col_hole: @col_theme_logo;
@col_casingwall: @col_hole;
@col_cement: #404040;
@col_shoe: @col_string;
@col_string: @col_theme_dark;

@stripes: rgba(80, 80, 80, 0.15);

@minitbl_lineheight: 1.1;

@topbar_height: 60px;
@sidebar_width: 300px;
@sidebar_width_collapsed: 70px;
@col_orange: #ff7516;
@col_text: rgba(0, 0, 0, 0.87);
@col_muted: #7d7b7a;
@col_muted_icon: #c8c8c8;
@col_more_muted: #acabab;
@col_danger: #9f3a38;

@col_btn_default: #e0e1e2;
@col_btn_primary: #f2711c;
@col_btn_danger: #db2828;
@col_btn_success: #21ba45;

@card_border_radius: 4px;
@card_border_color: #d5d7d9;
@card_padding_x: 15px;
@card_padding_y: 10px;

@input_height: 38px;
@input_height_small: 24px;
@input_font_size_small: 12px;
@input_padding_x: 14px;
@input_padding_y: 9.5px;
@input_padding_small_x: 7px;
@input_padding_small_y: 3.5px;
@input_border_radius: 4px;
@input_border_color: rgba(34, 36, 38, 0.15);
@input_border_color_hover: rgba(34, 36, 38, 0.35);
@input_border_color_focus: #85b7d9;
@input_background_error: #fff6f6;
@input_border_color_error: #e0b4b4;
@input_color_error: #9f3a38;
@input_background_warning: #fffbee;
@input_border_color_warning: #b7a478;
@input_color_warning: #7e5800;
@input_color_placeholder: #c0c0c0;

@zindex_topbar_alert: 98;
@zindex_drawer: 99;
@zindex_topbar: 101;
@zindex_tooltip: 102;
@zindex_dimmer: 1000;
@zindex_dropdown: 1001;
@zindex_modal: 2000;
