@line_height: 20px;
@line_spacing: 3px;

.dialog {
  border-radius: 4px;
  background: white;
  line-height: @line_height;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #d5d7d9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &.inline {
    display: inline-flex;
  }

  &.scroll {
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #f5f7f9;
  border-bottom: 1px solid #d5d7d9;
  flex-shrink: 0;

  .title {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
  }

  .dismiss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.content {
  .scroll & {
    overflow: auto;
    min-height: 0;
    height: 100%;
    flex: 1 1 auto;
  }
}

.footer {
  display: flex;
  padding: 16px 20px;
  background-color: #f5f7f9;
  border-top: 1px solid #d5d7d9;
  flex-shrink: 0;

  button:not(:last-child) {
    margin-right: 12px;
  }
}
