@import '../../../style/variables.less';

.icon {
  color: @col_muted_icon;
  margin: 0;
  transition: color 0.2s;

  &:hover {
    color: @col_orange;
  }
  &:active {
    color: darken(@col_orange, 10%);
  }
}

.disabled {
  &:hover {
    color: @col_muted_icon;
  }
  &:active {
    color: @col_muted_icon;
  }
}

.noHighlight {
  i {
    &:hover {
      cursor: default !important;
      background-color: inherit !important;
      color: @col_muted_icon !important;
    }
  }
}
