@import '../../style/variables.less';

@topbar_padding: 1.5rem;

.topbar {
  top: 0;
  left: 0;
  z-index: @zindex_topbar;
  width: 100%;
  height: @topbar_height;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  background: #fff;
  display: flex;
  font-size: 13px;

  &.fixed {
    position: fixed;
  }

  @media print {
    display: none !important;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;

  img,
  svg {
    max-height: 30px;
    max-width: 200px;
    height: auto;
    width: auto;
  }

  .label {
    color: @col_text;
    margin-left: 5px;
    white-space: nowrap;
  }
}

.brand {
  padding: 0;
  position: relative;
  flex-shrink: 0;
}

.title,
.version,
.link {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.version {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 3px;
  font-size: 10px;
  color: @col_more_muted;
}

.left,
.right {
  display: flex;
  min-width: 0;
}

.left {
  margin-right: @topbar_padding;
}

.right {
  margin-left: auto;
  flex-shrink: 0;
}

.item,
.link {
  align-items: center;
  display: flex;
}

.item {
  line-height: 1;
  margin-left: @topbar_padding;
  position: relative;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  user-select: none;
  vertical-align: middle;
  min-width: 0;

  .right & {
    margin-left: 0;
    margin-right: @topbar_padding;
  }

  &.button,
  &.menu {
    flex-shrink: 0;
  }
}

.label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: @col_orange;
  cursor: pointer;
  line-height: 1;
  max-width: 100%;

  svg {
    margin-right: 5px;
    flex-shrink: 0;
  }

  &:hover {
    color: darken(@col_orange, 15%);
  }

  &:active {
    color: darken(@col_orange, 30%);
  }

  &.active {
    color: #333;
  }

  &:hover,
  &.active {
    background-color: transparent;
  }

  &:hover:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #ddd;
  }

  &.active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid @col_orange;
  }

  &[disabled] {
    pointer-events: none;
    color: @col_text;
    opacity: 0.2;
  }
}

.alert {
  background-color: #f2711c;
  color: white;
  text-align: center;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: @zindex_topbar_alert;
  padding: 0.75rem;
}
