@import '../../style/variables.less';
@import './table.variables.less';

.table {
  width: 100%;
  background: #fff;
  box-shadow: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: inherit;

  &.bordered {
    border: 1px solid @table_border_color;
    border-radius: 0.28571429rem;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  cursor: pointer;
}

th,
td {
  line-height: 17px;
  height: 36px;
  border-left: 1px solid @cell_border_color;

  &:first-child {
    border-left: none;
  }
}

thead th,
tfoot td {
  background-color: #eee;
}

thead {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  tr:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    th:first-child {
      border-top-left-radius: inherit;
    }

    th:last-child {
      border-top-right-radius: inherit;
    }
  }
}

thead th {
  cursor: auto;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.92857143em 0.78571429em;
  vertical-align: inherit;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid @cell_border_color;
}

td {
  border-top: 1px solid @cell_border_color;

  tr:first-child & {
    border-top: none;
  }
}

.cellWrapper {
  .cellWrapperPadding();
}

.title,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

tfoot td {
  border-top: 1px solid #2224261a !important;
  padding: 8px 12px;
}
