@import '../../style/variables.less';

@table_border_color: rgba(34, 36, 38, 0.15);
@cell_border_color: rgba(34, 36, 38, 0.1);

.cellWrapperPadding {
  padding: @input_padding_y @input_padding_x !important;
}

.flexBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cellErrorWarningWrapper {
  margin: (-@input_padding_y - 1) (-@input_padding_x - 1) !important;
  padding: @input_padding_y @input_padding_x !important;
  display: block;
  line-height: 17px;
  position: relative;
}
