@import '../../style/variables.less';

.tooltip {
  background-color: #333;
  color: white;
  border-radius: 3px;
  z-index: @zindex_tooltip;
}

.error {
  color: white;
  background-color: @col_danger;
}

.warning {
  color: #ffffff;
  background-color: #a07800;
}
