@import '../../style/variables.less';

@toggleSize: 17px;

.toggle {
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  min-height: @toggleSize;
  font-size: inherit;
  line-height: @toggleSize;
  min-width: @toggleSize;
  margin: 10px 0 11px 0;

  &.small {
    margin: 3px 0;
    font-size: @input_font_size_small;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
  }

  input {
    width: @toggleSize * 2;
    height: @toggleSize;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
    outline: 0;
    z-index: 3;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  label {
    min-height: @toggleSize;
    padding-left: (@toggleSize * 2) + 9px;
    transition: color 0.1s ease;
    cursor: auto;
    position: relative;
    display: block;
    outline: 0;
    font-size: 1em;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      height: @toggleSize;
      border-radius: @toggleSize / 2;
    }

    &:before {
      z-index: 1;
      transform: none;
      background: rgba(0, 0, 0, 0.05);
      box-shadow: none;
      width: @toggleSize * 2;
      left: 0;
      transition: background 0.3s ease, border 0.1s ease, opacity 0.1s ease,
        transform 0.1s ease, box-shadow 0.1s ease;
    }

    &:after {
      left: -0.05rem;
      box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15),
        0 0 0 1px rgba(34, 36, 38, 0.15) inset;
      background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
      opacity: 1;
      z-index: 2;
      width: @toggleSize;
      transition: background 0.3s ease, left 0.3s ease;
    }
  }

  input:hover ~ label {
    &:before {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  input:checked ~ label {
    &:before {
      border-color: rgba(34, 36, 38, 0.35);
      background-color: @col_orange;
    }

    &:after {
      left: @toggleSize;
    }
  }

  input:checked:hover ~ label {
    &:before {
      background-color: darken(@col_orange, 5%);
    }
  }
}

.noMargin {
  margin: 0;
}
