/*******************************
         Site Settings
*******************************/

@emSize: 14px;

@pageOverflowX: hidden;

@pageMinWidth: 320px;

@pageBackground: #ffffff;

@fontName: 'Lato';
@pageFont: @fontName, 'Helvetica Neue', Arial, Helvetica, sans-serif;
@fontSize: 14px;
@headerFont: @fontName, 'Helvetica Neue', Arial, Helvetica, sans-serif;
@headerLineHeight: unit((18 / 14), em);

@lineHeightOffset: ((@lineHeight - 1em) / 2);
@headerLineHeightOffset: (@headerLineHeight - 1em) / 2;
@headerTopMargin: ~'calc(2rem - ' @headerLineHeightOffset~ ')';
@headerBottomMargin: 1rem;
@headerMargin: @headerTopMargin 0em @headerBottomMargin;
@bold: bold;
@headerFontWeight: @bold;

@h1: unit((28 / 14), rem);
@h2: unit((24 / 14), rem);
@h3: unit((18 / 14), rem);
@h4: unit((15 / 14), rem);
@h5: unit((14 / 14), rem);

@lineHeight: 1.4285em;

@textColor: rgba(0, 0, 0, 0.87);
@fontSmoothing: antialiased;

@paragraphMargin: 0em 0em 1em;
@paragraphLineHeight: @lineHeight;

@linkColor: #4183c4;
@linkUnderline: none;
@linkHoverColor: darken(saturate(@linkColor, 20), 15, relative);
@linkHoverUnderline: @linkUnderline;

@highlightBackground: #cce2ff;
@highlightColor: @textColor;

@inputHighlightBackground: rgba(100, 100, 100, 0.4);
@inputHighlightColor: @textColor;
