/*
 This reset is taken from Semantic UI (needed until all usages are free from Semantic)
 https://github.com/Semantic-Org/Semantic-UI/tree/master/src/definitions/globals
*/

/*******************************
             Reset
*******************************/

/* Border-Box */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

/* iPad Input Shadows */
input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none; /* mobile firefox too! */
}

/* FF dotted border outlines */
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}

@import './page.less';
