@import '../../../style/variables.less';
@import '../table.variables.less';

.cellWrapper {
  .cellWrapperPadding();

  a {
    color: @col_orange !important;
    &:hover {
      color: darken(@col_orange, 10%) !important;
    }
    &:active {
      color: darken(@col_orange, 20%) !important;
    }

    &.disabledLink {
      opacity: 30%;
      cursor: default !important;
    }
  }
}

.inputWrapper {
  margin: -1px;

  select,
  input {
    &:hover,
    &:focus {
      position: relative;
      z-index: 2;
    }
  }
}

.inputCell {
  padding: 0 !important;

  select,
  .dropdown {
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    width: 100%;

    &:hover {
      border-color: rgba(34, 36, 38, 0.35) !important;
    }

    &:focus {
      border-color: #96c8da !important;
    }
  }

  .ui.dropdown input {
    left: 0 !important;
  }
}

.sliderCell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.staticCell {
  &.error {
    .cellErrorWarningWrapper();
    background-color: @input_background_error !important;
    border: 1px solid @input_border_color_error !important;
    color: @input_color_error !important;
  }
  &.warning {
    .cellErrorWarningWrapper();
    background-color: @input_background_warning !important;
    border: 1px solid @input_border_color_warning !important;
    color: @input_color_warning !important;
  }
}

.sortingCell {
  position: relative;
  padding-right: 45px !important;
  cursor: pointer !important;

  i {
    color: hsl(24, 100%, 50%);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .sortingCellIcon {
    position: absolute;
    right: @input_padding_x;
    color: @col_orange !important;
  }
}

.checkBoxCell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.iconCell {
  width: 20px;
  padding: 0 10px !important;
}

.rightAligned {
  text-align: right !important;
}

.leftAligned {
  text-align: left !important;
}

.popover {
  padding: @input_padding_y @input_padding_x;
}
