@import '../../style/variables.less';

.accordion {
  position: relative;

  .accordionHeader {
    display: flex;
    align-items: center;

    &.clickable {
      &:hover {
        cursor: pointer;
        > * {
          color: @col_text !important;
        }
      }
    }
  }

  &:not(.bordered) {
    .accordionHeader {
      margin-bottom: 15px;
    }
  }

  &.bordered {
    .accordionHeader,
    .accordionContent {
      border: 1px solid @card_border_color;
      line-height: 20px;
    }

    .accordionHeader {
      padding: @card_padding_y @card_padding_x;
      border-radius: @card_border_radius;
      background-color: @bghot_ro;
    }

    &.expanded .accordionHeader {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .accordionContent {
      border-top: none;
      border-radius: 0 0 @card_border_radius @card_border_radius;
      background-color: white;

      &.padding {
        padding: @card_padding_y @card_padding_x;
      }
    }
  }

  &.bordered.squareBottom {
    .accordionHeader {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
