@import '../../style/variables.less';

.actions {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  > * {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.action,
.actionComponentContainer {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #c8c8c8;
  position: relative;
  z-index: 2;
  transition: color 0.2s;

  i {
    margin: 0;
    line-height: 1 !important;
  }

  &:hover,
  &:focus {
    color: @col_orange;
  }

  &:active,
  &.active {
    color: darken(@col_orange, 10%);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.actionComponentContainer {
  line-height: 0; // Strip uneccessary white space
}
