@import '../../style/variables.less';

.label {
  display: inline-block;
  width: auto;
  margin: 0 0.85714286em 0 0;
  vertical-align: baseline;
  font-size: 0.92857143em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: none;
}

.buttonGroup {
  display: inline-flex;
  flex-direction: row;
  // font-size: 0;
  vertical-align: baseline;
  margin: 0 0.25em 0 0;
}
