@import '../../../style/variables.less';

.addon {
  flex-shrink: 0;
  border-radius: @input_border_radius;
  border: 1px solid @input_border_color;
  background: white;
  display: inline-flex;
  align-items: center;
  padding: 0 @input_padding_x;
  color: @col_muted;
  line-height: 1;
}

.small {
  font-size: @input_font_size_small;
  padding: 0 @input_padding_small_x;
}

.groupOrderFirst,
.groupOrderMiddle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-right: -1px;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
