@line_height: 20px;
@line_spacing: 3px;

.container {
  padding: 10px 14px;
  border-radius: 4px;
  display: inline-flex;
  align-items: flex-start;
  line-height: @line_height;
  flex-wrap: wrap;

  &.block {
    display: flex;
  }

  &.info {
    border: 1px solid #bee5eb;
    color: #0c5460;
    background-color: #d1ecf1;
  }

  &.success {
    border: 1px solid #c3e6cb;
    color: #155724;
    background-color: #d4edda;
  }

  &.warning {
    border: 1px solid #efdeaa;
    color: #856404;
    background-color: #fff3cd;
  }

  &.error {
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
  }
}

.content {
  flex: 1;
}

.heading {
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: @line_height;
  margin-bottom: @line_spacing;
}

.icon,
.dismiss {
  display: flex;
  justify-content: center;
  align-items: center;
  height: @line_height;
}

.icon {
  margin-right: 12px;
}

.dismiss {
  margin-left: 12px;
  &.info {
    color: #0c5460;
  }
  &.success {
    color: #155724;
  }
  &.warning {
    color: #856404;
  }
  &.error {
    color: #721c24;
  }
  &.absolute {
    position: absolute;
    top: 10px;
    right: 14px;
  }
}

.legendToggle,
.dismiss {
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.legendToggle {
  margin-top: @line_spacing;
}

.detailsText {
  margin-top: @line_spacing;
}
