@import '../../style/variables.less';
@import '~rc-slider/assets/index.css';

.rc-slider-track {
  background-color: lighten(@col_orange, 5%);
}

.rc-slider-dot {
  border-color: #ccc;
}

.rc-slider-dot-active {
  border-color: darken(@col_orange, 5%);
}

.rc-slider-handle {
  border-color: darken(@col_orange, 5%);

  &:focus {
    border-color: darken(@col_orange, 5%);
    box-shadow: 0 0 0 5px darken(@col_orange, 5%);
  }
}

.rc-slider-disabled {
  .rc-slider-mark-text,
  .rc-slider-handle,
  .rc-slider-dot {
    cursor: default !important;
  }
}
