@import '../../style/variables.less';

.container {
  display: flex;
  align-items: center;
  min-height: 38px;

  &.hasMarks {
    padding-bottom: 20px;
  }

  &.vertical {
    flex-direction: column;
    padding-bottom: 0;

    .hasArrows {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .button {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.label {
  white-space: nowrap;
  margin-left: 10px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.rcSliderDisabled {
  background-color: transparent;
}
