@import '../../style/variables.less';

.menu {
  min-width: 160px;
  padding: 7px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2px;
}

.header {
  padding: 7px 16px;
  display: flex;
  justify-content: space-between;

  a {
    color: @col_orange;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      color: darken(@col_orange, 10%);
    }

    &:active {
      color: darken(@col_orange, 20%);
    }
  }
}

.item {
  padding: 7px 16px;
  background: transparent;
  cursor: default;
}
